# Required locally
/venv
/__pycache__
*/__pycache__
.gitattributes
spaceTraders.pyc
/.ipynb_checkpoints

# Misc Folders
/Archived_Databases

# Dbs
SpaceTraders_DB*.sqlite
SpaceTraders_DB.sqlite
SpaceTraders_DB.sqlite

# Personal Notes

